</div>
</div>
</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; Jewel Store</p>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>