.sorting tr:not(.home){
    cursor: pointer;
}

.ui-state-highlight{
    border: 1px dashed #ccc;
}

#imgPreview{
    margin: 20px;
}

#noimage{
    height: 100px;
    width: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
}