img.pimage {
    width: 150px;
    height: 170px;
}

a.pa{
    display: inline-block;
    height: 190px;
   
}   

.row.products .p {
    margin: 50px;
}

img.spi {
    width: 100%;
  height: auto;
}

img.cpi{
    width: 100px;
    height: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
}